<a href="https://colab.research.google.com/github/BIGBOSS-FOX/CS-513-Final-Project-Job-Termination-Classification/blob/master/ANN_Final_Project_Daoyuan_Chen_%26_Haopeng_Hu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load the "attrition_data.csv"

In [1]:
import pandas as pd

data = pd.read_csv("attrition_data.csv")

data

          EMP_ID  ANNUAL_RATE  HRLY_RATE  ...  PREVYR_3 PREVYR_4 PREVYR_5
0     3285941608        33615         22  ...         0        0        0
1     3687079832        70675         40  ...         3        2        3
2     7209970080        34320         23  ...         3        2        3
3     9084013977       103199         59  ...         0        0        0
4     4566148978       141801         71  ...         2        2        2
...          ...          ...        ...  ...       ...      ...      ...
9607  8595959073        34636         23  ...         0        0        0
9608  4606362550        34962         27  ...         0        0        0
9609  5856364670        39286         27  ...         0        0        0
9610  5388746486        39145         27  ...         0        0        0
9611  6401616257        90726         50  ...         0        0        0

[9612 rows x 27 columns]

# Summary data

In [2]:
data.describe(include='all')

              EMP_ID   ANNUAL_RATE  ...     PREVYR_4     PREVYR_5
count   9.612000e+03  9.612000e+03  ...  9612.000000  9612.000000
unique           NaN           NaN  ...          NaN          NaN
top              NaN           NaN  ...          NaN          NaN
freq             NaN           NaN  ...          NaN          NaN
mean    5.168687e+09  8.938563e+04  ...     0.617561     0.466188
std     2.394707e+09  5.843344e+04  ...     1.102402     0.971020
min     1.000475e+09  1.678600e+04  ...     0.000000     0.000000
25%     3.092187e+09  5.085550e+04  ...     0.000000     0.000000
50%     5.213208e+09  7.421050e+04  ...     0.000000     0.000000
75%     7.249635e+09  1.088115e+05  ...     1.000000     0.000000
max     9.996000e+09  1.250924e+06  ...     5.000000     5.000000

[11 rows x 27 columns]

In [3]:
data.dtypes

EMP_ID                      int64
ANNUAL_RATE                 int64
HRLY_RATE                   int64
JOBCODE                     int64
ETHNICITY                  object
SEX                        object
MARITAL_STATUS             object
JOB_SATISFACTION            int64
AGE                         int64
NUMBER_OF_TEAM_CHANGED     object
REFERRAL_SOURCE            object
HIRE_MONTH                 object
REHIRE                       bool
TERMINATION_YEAR          float64
IS_FIRST_JOB               object
TRAVELLED_REQUIRED         object
PERFORMANCE_RATING          int64
DISABLED_EMP               object
DISABLED_VET               object
EDUCATION_LEVEL            object
STATUS                     object
JOB_GROUP                  object
PREVYR_1                    int64
PREVYR_2                    int64
PREVYR_3                    int64
PREVYR_4                    int64
PREVYR_5                    int64
dtype: object

# Drop "EMP_ID" and "TERMINATION_YEAR"

In [6]:
data.drop(["EMP_ID", "TERMINATION_YEAR"], axis=1, inplace=True)

data

      ANNUAL_RATE  HRLY_RATE  JOBCODE  ... PREVYR_3 PREVYR_4 PREVYR_5
0           33615         22    71850  ...        0        0        0
1           70675         40    59806  ...        3        2        3
2           34320         23    60311  ...        3        2        3
3          103199         59    16233  ...        0        0        0
4          141801         71    64415  ...        2        2        2
...           ...        ...      ...  ...      ...      ...      ...
9607        34636         23    58258  ...        0        0        0
9608        34962         27    58258  ...        0        0        0
9609        39286         27    36545  ...        0        0        0
9610        39145         27    44203  ...        0        0        0
9611        90726         50    89546  ...        0        0        0

[9612 rows x 25 columns]

# Replace all " " with a random ethnicity in "ETHNICITY"

In [7]:
pd.unique(data['ETHNICITY'])

array(['BLACK', 'ASIAN', 'WHITE', 'HISPA', 'PACIF', 'TWO', 'AMIND', ' '],
      dtype=object)

In [8]:
import random
random_ethnicity = random.choice(data[data['ETHNICITY'] != " "]['ETHNICITY'])
random_ethnicity

'ASIAN'

In [9]:
index_list = data.index[data['ETHNICITY'] == " "].tolist()
index_list

[2934]

In [0]:
data['ETHNICITY'].replace(" ", random_ethnicity, inplace = True)

In [11]:
data['ETHNICITY'][index_list[0]]

'ASIAN'

In [12]:
pd.unique(data['ETHNICITY'])

array(['BLACK', 'ASIAN', 'WHITE', 'HISPA', 'PACIF', 'TWO', 'AMIND'],
      dtype=object)

In [13]:
data['ETHNICITY'].describe(include='all')

count      9612
unique        7
top       WHITE
freq       5820
Name: ETHNICITY, dtype: object

# Replace all " " with "Unknown" in "REFERRAL_SOURCE"

In [14]:
pd.unique(data['REFERRAL_SOURCE'])

array(['Client Referral', 'Executive Referral', 'Former Employee/Intern',
       'Direct Sourcing', 'Inroads', 'Unknown', nan, 'Job Fair',
       'Print Advertisement', 'Corporate Career Site', 'Agency',
       'College Recommendation', 'Job Posting',
       'Job Boards/Online Advertising', 'Open House',
       'College Recruiting(UnderGrad)', 'E-Strat', 'Unsolicited',
       'Staffing Agency', 'Other Source'], dtype=object)

In [0]:
data['REFERRAL_SOURCE'].fillna('Unknown', inplace=True)

In [16]:
pd.unique(data['REFERRAL_SOURCE'])

array(['Client Referral', 'Executive Referral', 'Former Employee/Intern',
       'Direct Sourcing', 'Inroads', 'Unknown', 'Job Fair',
       'Print Advertisement', 'Corporate Career Site', 'Agency',
       'College Recommendation', 'Job Posting',
       'Job Boards/Online Advertising', 'Open House',
       'College Recruiting(UnderGrad)', 'E-Strat', 'Unsolicited',
       'Staffing Agency', 'Other Source'], dtype=object)

In [17]:
data['REFERRAL_SOURCE'].describe(include='all')

count        9612
unique         19
top       Unknown
freq          917
Name: REFERRAL_SOURCE, dtype: object

In [18]:
data['REFERRAL_SOURCE']

0              Client Referral
1           Executive Referral
2       Former Employee/Intern
3              Direct Sourcing
4                      Inroads
                 ...
9607           Staffing Agency
9608                   Unknown
9609        Executive Referral
9610                Open House
9611               Job Posting
Name: REFERRAL_SOURCE, Length: 9612, dtype: object

# Retrieve numpy array

In [31]:
dataset = data.values

dataset.shape

(9612, 25)

# Perform min-max scaling each numerical feature column to the range [0,1]

In [30]:
from sklearn.preprocessing import MinMaxScaler

mms = MinMaxScaler()
num = ['ANNUAL_RATE', 'HRLY_RATE', 'JOB_SATISFACTION', 'AGE', 'PERFORMANCE_RATING', 'PREVYR_1', 'PREVYR_2', 'PREVYR_3', 'PREVYR_4', 'PREVYR_5']
dataset_num = data[num].values
mms.fit(dataset_num)
dataset_num_norm = mms.transform(dataset_num)
dataset_num_norm.shape

(9612, 10)

# Perform one-hot encoding on each categorical feature column

In [57]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()
cat = ['JOBCODE', 'ETHNICITY', 'SEX', 'MARITAL_STATUS', 'NUMBER_OF_TEAM_CHANGED', 'REFERRAL_SOURCE', 'HIRE_MONTH', 'REHIRE', 'IS_FIRST_JOB', 'TRAVELLED_REQUIRED', 'DISABLED_EMP', 'DISABLED_VET', 'EDUCATION_LEVEL', 'JOB_GROUP']
dataset_cat = data[cat].values
# format all fields as string
dataset_cat = dataset_cat.astype(str)
ohe.fit(dataset_cat)
dataset_cat_enc = ohe.transform(dataset_cat).todense()
dataset_cat_enc

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

# Perform one-hot encoding on label column

In [32]:
from sklearn.preprocessing import LabelBinarizer

lb = LabelBinarizer()
dataset_label = data['STATUS'].values
lb.fit(dataset_label)
dataset_label_enc = lb.transform(dataset_label)
dataset_label_enc.shape

(9612, 1)

# Concatenate normalized numerical features and one-hot encoded categorical features into `X` and denote label by `y`

In [59]:
import numpy as np

X = np.hstack([dataset_num_norm, dataset_cat_enc])
y = dataset_label_enc
X.shape, y.shape

((9612, 1457), (9612, 1))

# Use 30% test 70% training data

In [62]:
from sklearn.model_selection import train_test_split

# split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((6728, 1457), (2884, 1457), (6728, 1), (2884, 1))

## Use Keras to train a neural network with one 5-node hidden layer and a 1-node sigmoid output layer

In [64]:
from keras.models import Sequential
from keras.layers import Dense

# define the  model
model = Sequential()
model.add(Dense(5, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(1, activation='sigmoid'))
# print the summary of the model.
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 5)                 7290
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 6
=================================================================
Total params: 7,296
Trainable params: 7,296
Non-trainable params: 0
_________________________________________________________________

In [0]:
# compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [66]:
# fit the keras model on the dataset
model.fit(X_train, y_train, epochs=100, batch_size=16)

Epoch 1/100
6728/6728 [==============================] - 1s 124us/step - loss: 0.6389 - accuracy: 0.6403
Epoch 2/100
6728/6728 [==============================] - 1s 81us/step - loss: 0.5529 - accuracy: 0.7503
Epoch 3/100
6728/6728 [==============================] - 1s 80us/step - loss: 0.5039 - accuracy: 0.7721
Epoch 4/100
6728/6728 [==============================] - 1s 81us/step - loss: 0.4750 - accuracy: 0.7836
Epoch 5/100
6728/6728 [==============================] - 1s 81us/step - loss: 0.4550 - accuracy: 0.7870
Epoch 6/100
6728/6728 [==============================] - 1s 82us/step - loss: 0.4413 - accuracy: 0.7915
Epoch 7/100
6728/6728 [==============================] - 1s 82us/step - loss: 0.4304 - accuracy: 0.7955
Epoch 8/100
6728/6728 [==============================] - 1s 82us/step - loss: 0.4216 - accuracy: 0.7990
Epoch 9/100
6728/6728 [==============================] - 1s 83us/step - loss: 0.4155 - accuracy: 0.8038
Epoch 10/100
6728/6728 [==============================] - 1s 91us/step - loss: 0.4091 - accuracy: 0.8025
Epoch 11/100
6728/6728 [==============================] - 1s 83us/step - loss: 0.4052 - accuracy: 0.8045
Epoch 12/100
6728/6728 [==============================] - 1s 82us/step - loss: 0.4011 - accuracy: 0.8060
Epoch 13/100
6728/6728 [==============================] - 1s 82us/step - loss: 0.3989 - accuracy: 0.8053
Epoch 14/100
6728/6728 [==============================] - 1s 83us/step - loss: 0.3958 - accuracy: 0.8087
Epoch 15/100
6728/6728 [==============================] - 1s 82us/step - loss: 0.3926 - accuracy: 0.8043
Epoch 16/100
6728/6728 [==============================] - 1s 81us/step - loss: 0.3902 - accuracy: 0.8078
Epoch 17/100
6728/6728 [==============================] - 1s 85us/step - loss: 0.3881 - accuracy: 0.8118
Epoch 18/100
6728/6728 [==============================] - 1s 83us/step - loss: 0.3874 - accuracy: 0.8077
Epoch 19/100
6728/6728 [==============================] - 1s 83us/step - loss: 0.3854 - accuracy: 0.8092
Epoch 20/100
6728/6728 [==============================] - 1s 82us/step - loss: 0.3837 - accuracy: 0.8105
Epoch 21/100
6728/6728 [==============================] - 1s 81us/step - loss: 0.3818 - accuracy: 0.8109
Epoch 22/100
6728/6728 [==============================] - 1s 83us/step - loss: 0.3814 - accuracy: 0.8133
Epoch 23/100
6728/6728 [==============================] - 1s 82us/step - loss: 0.3809 - accuracy: 0.8123
Epoch 24/100
6728/6728 [==============================] - 1s 83us/step - loss: 0.3801 - accuracy: 0.8108
Epoch 25/100
6728/6728 [==============================] - 1s 82us/step - loss: 0.3795 - accuracy: 0.8106
Epoch 26/100
6728/6728 [==============================] - 1s 87us/step - loss: 0.3780 - accuracy: 0.8111
Epoch 27/100
6728/6728 [==============================] - 1s 83us/step - loss: 0.3781 - accuracy: 0.8124
Epoch 28/100
6728/6728 [==============================] - 1s 83us/step - loss: 0.3774 - accuracy: 0.8144
Epoch 29/100
6728/6728 [==============================] - 1s 82us/step - loss: 0.3754 - accuracy: 0.8151
Epoch 30/100
6728/6728 [==============================] - 1s 83us/step - loss: 0.3761 - accuracy: 0.8112
Epoch 31/100
6728/6728 [==============================] - 1s 87us/step - loss: 0.3766 - accuracy: 0.8129
Epoch 32/100
6728/6728 [==============================] - 1s 83us/step - loss: 0.3751 - accuracy: 0.8145
Epoch 33/100
6728/6728 [==============================] - 1s 81us/step - loss: 0.3746 - accuracy: 0.8139
Epoch 34/100
6728/6728 [==============================] - 1s 81us/step - loss: 0.3727 - accuracy: 0.8150
Epoch 35/100
6728/6728 [==============================] - 1s 85us/step - loss: 0.3724 - accuracy: 0.8154
Epoch 36/100
6728/6728 [==============================] - 1s 82us/step - loss: 0.3728 - accuracy: 0.8141
Epoch 37/100
6728/6728 [==============================] - 1s 87us/step - loss: 0.3714 - accuracy: 0.8150
Epoch 38/100
6728/6728 [==============================] - 1s 82us/step - loss: 0.3722 - accuracy: 0.8108
Epoch 39/100
6728/6728 [==============================] - 1s 81us/step - loss: 0.3718 - accuracy: 0.8152
Epoch 40/100
6728/6728 [==============================] - 1s 80us/step - loss: 0.3708 - accuracy: 0.8158
Epoch 41/100
6728/6728 [==============================] - 1s 93us/step - loss: 0.3707 - accuracy: 0.8145
Epoch 42/100
6728/6728 [==============================] - 1s 88us/step - loss: 0.3711 - accuracy: 0.8169
Epoch 43/100
6728/6728 [==============================] - 1s 81us/step - loss: 0.3703 - accuracy: 0.8147
Epoch 44/100
6728/6728 [==============================] - 1s 93us/step - loss: 0.3703 - accuracy: 0.8121
Epoch 45/100
6728/6728 [==============================] - 1s 89us/step - loss: 0.3709 - accuracy: 0.8115
Epoch 46/100
6728/6728 [==============================] - 1s 86us/step - loss: 0.3695 - accuracy: 0.8173
Epoch 47/100
6728/6728 [==============================] - 1s 82us/step - loss: 0.3694 - accuracy: 0.8132
Epoch 48/100
6728/6728 [==============================] - 1s 82us/step - loss: 0.3699 - accuracy: 0.8184
Epoch 49/100
6728/6728 [==============================] - 1s 92us/step - loss: 0.3678 - accuracy: 0.8152
Epoch 50/100
6728/6728 [==============================] - 1s 88us/step - loss: 0.3685 - accuracy: 0.8175
Epoch 51/100
6728/6728 [==============================] - 1s 83us/step - loss: 0.3683 - accuracy: 0.8157
Epoch 52/100
6728/6728 [==============================] - 1s 80us/step - loss: 0.3672 - accuracy: 0.8199
Epoch 53/100
6728/6728 [==============================] - 1s 82us/step - loss: 0.3680 - accuracy: 0.8160
Epoch 54/100
6728/6728 [==============================] - 1s 82us/step - loss: 0.3664 - accuracy: 0.8170
Epoch 55/100
6728/6728 [==============================] - 1s 84us/step - loss: 0.3676 - accuracy: 0.8164
Epoch 56/100
6728/6728 [==============================] - 1s 87us/step - loss: 0.3668 - accuracy: 0.8173
Epoch 57/100
6728/6728 [==============================] - 1s 85us/step - loss: 0.3670 - accuracy: 0.8161
Epoch 58/100
6728/6728 [==============================] - 1s 88us/step - loss: 0.3664 - accuracy: 0.8176
Epoch 59/100
6728/6728 [==============================] - 1s 85us/step - loss: 0.3660 - accuracy: 0.8184
Epoch 60/100
6728/6728 [==============================] - 1s 94us/step - loss: 0.3660 - accuracy: 0.8154
Epoch 61/100
6728/6728 [==============================] - 1s 90us/step - loss: 0.3646 - accuracy: 0.8176
Epoch 62/100
6728/6728 [==============================] - 1s 92us/step - loss: 0.3650 - accuracy: 0.8179
Epoch 63/100
6728/6728 [==============================] - 1s 82us/step - loss: 0.3648 - accuracy: 0.8176
Epoch 64/100
6728/6728 [==============================] - 1s 89us/step - loss: 0.3649 - accuracy: 0.8169
Epoch 65/100
6728/6728 [==============================] - 1s 85us/step - loss: 0.3653 - accuracy: 0.8155
Epoch 66/100
6728/6728 [==============================] - 1s 80us/step - loss: 0.3633 - accuracy: 0.8175
Epoch 67/100
6728/6728 [==============================] - 1s 84us/step - loss: 0.3641 - accuracy: 0.8145
Epoch 68/100
6728/6728 [==============================] - 1s 82us/step - loss: 0.3638 - accuracy: 0.8170
Epoch 69/100
6728/6728 [==============================] - 1s 83us/step - loss: 0.3638 - accuracy: 0.8161
Epoch 70/100
6728/6728 [==============================] - 1s 80us/step - loss: 0.3642 - accuracy: 0.8182
Epoch 71/100
6728/6728 [==============================] - 1s 89us/step - loss: 0.3632 - accuracy: 0.8182
Epoch 72/100
6728/6728 [==============================] - 1s 92us/step - loss: 0.3636 - accuracy: 0.8205
Epoch 73/100
6728/6728 [==============================] - 1s 83us/step - loss: 0.3623 - accuracy: 0.8219
Epoch 74/100
6728/6728 [==============================] - 1s 84us/step - loss: 0.3625 - accuracy: 0.8219
Epoch 75/100
6728/6728 [==============================] - 1s 89us/step - loss: 0.3625 - accuracy: 0.8193
Epoch 76/100
6728/6728 [==============================] - 1s 86us/step - loss: 0.3625 - accuracy: 0.8185
Epoch 77/100
6728/6728 [==============================] - 1s 86us/step - loss: 0.3627 - accuracy: 0.8196
Epoch 78/100
6728/6728 [==============================] - 1s 88us/step - loss: 0.3617 - accuracy: 0.8222
Epoch 79/100
6728/6728 [==============================] - 1s 88us/step - loss: 0.3614 - accuracy: 0.8222
Epoch 80/100
6728/6728 [==============================] - 1s 93us/step - loss: 0.3607 - accuracy: 0.8196
Epoch 81/100
6728/6728 [==============================] - 1s 90us/step - loss: 0.3610 - accuracy: 0.8219
Epoch 82/100
6728/6728 [==============================] - 1s 98us/step - loss: 0.3601 - accuracy: 0.8191
Epoch 83/100
6728/6728 [==============================] - 1s 87us/step - loss: 0.3611 - accuracy: 0.8210
Epoch 84/100
6728/6728 [==============================] - 1s 93us/step - loss: 0.3613 - accuracy: 0.8219
Epoch 85/100
6728/6728 [==============================] - 1s 90us/step - loss: 0.3600 - accuracy: 0.8231
Epoch 86/100
6728/6728 [==============================] - 1s 88us/step - loss: 0.3600 - accuracy: 0.8234
Epoch 87/100
6728/6728 [==============================] - 1s 96us/step - loss: 0.3600 - accuracy: 0.8202
Epoch 88/100
6728/6728 [==============================] - 1s 95us/step - loss: 0.3595 - accuracy: 0.8221
Epoch 89/100
6728/6728 [==============================] - 1s 94us/step - loss: 0.3599 - accuracy: 0.8234
Epoch 90/100
6728/6728 [==============================] - 1s 83us/step - loss: 0.3583 - accuracy: 0.8224
Epoch 91/100
6728/6728 [==============================] - 1s 88us/step - loss: 0.3583 - accuracy: 0.8209
Epoch 92/100
6728/6728 [==============================] - 1s 87us/step - loss: 0.3583 - accuracy: 0.8221
Epoch 93/100
6728/6728 [==============================] - 1s 82us/step - loss: 0.3585 - accuracy: 0.8242
Epoch 94/100
6728/6728 [==============================] - 1s 83us/step - loss: 0.3581 - accuracy: 0.8206
Epoch 95/100
6728/6728 [==============================] - 1s 83us/step - loss: 0.3577 - accuracy: 0.8190
Epoch 96/100
6728/6728 [==============================] - 1s 86us/step - loss: 0.3582 - accuracy: 0.8218
Epoch 97/100
6728/6728 [==============================] - 1s 83us/step - loss: 0.3571 - accuracy: 0.8242
Epoch 98/100
6728/6728 [==============================] - 1s 85us/step - loss: 0.3565 - accuracy: 0.8228
Epoch 99/100
6728/6728 [==============================] - 1s 83us/step - loss: 0.3567 - accuracy: 0.8233
Epoch 100/100
6728/6728 [==============================] - 1s 96us/step - loss: 0.3561 - accuracy: 0.8261

# Evaluate the accuracy of the prediction

In [70]:
# evaluate the keras model
_, accuracy = model.evaluate(X_test, y_test)
print('accuracy = ' + str(accuracy))

2884/2884 [==============================] - 0s 34us/step
accuracy = 0.7534673810005188

In [72]:
# prediction from the keras model
y_pred = model.predict_classes(X_test)
y_pred

array([[0],
       [0],
       [1],
       ...,
       [0],
       [1],
       [1]], dtype=int32)

In [74]:
# A table to compare y_pred with y_test
y_compare = np.hstack((y_test, y_pred))
y_compare

array([[0, 0],
       [0, 0],
       [0, 1],
       ...,
       [1, 0],
       [1, 1],
       [1, 1]])